.form {
    border: 2px solid black;
    width: 450px;
    height: 450px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    background: grey;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.form label, input, textarea{
    display: block;
    padding: 8px;
    margin-bottom: 5px 0 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

form button {
    margin-top: 10px;
    padding:  5px 5px;
    border-radius: 8px;
}